@import url("/src/geral.css");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.header {
    background-color: #17842a;
    /* Cor de fundo verde (#17842a) */
    color: white;
    width: 100%;
    text-align: center;
    /* Centraliza o texto */
    padding: 20px 0;
    /* Espaçamento interno */
    margin-bottom: 20px;
    /* Adiciona margem inferior para separar o header do card */
}


.container {
    display: flex;
    position: relative;
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: start;

    flex-direction: column;
    width: 220px;
    height: 100vh;
    /* Faz a sidebar ocupar toda a altura da viewport */
    background-color: #17842a;
    color: white;
    border-right: 3px solid white;
    /* Aumenta a largura da borda */
    position: fixed;

}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding-left: 5px;

    padding-left: 5px;
    margin-top: 10px;
}

.sidebar a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 10px;

}

.sidebar h3 {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
    text-align: center;
}

.filter-options label {
    display: block;
    margin-bottom: 5px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    /* Adiciona um espaço igual à largura da barra lateral para garantir que o conteúdo não seja ocultado */
    padding-left: 20px;
    /* Adiciona um espaço à esquerda para separar o conteúdo da barra lateral */
    box-sizing: border-box;
    /* Garante que o padding seja incluído na largura total do elemento */

}

.title {
    font-size: 24px;
    color: #17842a;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.button-style {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #17842a;
}


.data-table tr:hover {
    background-color: #ccc;
    cursor: pointer;
}


.menu {
    display: flex;
    position: relative;
    align-items: row;
}

.menu button {
    margin: 0px 1px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #17842a;
}


/* CSS (principal.css) */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    /* Posiciona o topo do popup no centro vertical da tela */
    left: 50%;
    /* Posiciona a esquerda do popup no centro horizontal da tela */
    transform: translate(-50%, -50%);
    /* Move o popup de volta 50% da sua largura e altura */
    background-color: rgb(138, 134, 134);
    /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
    /* Certifica-se de que o popup aparece acima de outros elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Adiciona uma sombra ao redor do popup */
    color: #fff;
    /* Cor do texto */
    width: 800px;
    /* Defina a largura desejada */
    max-width: 80%;
    /* Defina a largura máxima permitida */
}



.popup h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.popup-btnFechar {
    position: absolute;
    color: black;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Duas colunas com largura igual */
    gap: 10px;

    margin-top: 10px;
    /* Espaçamento entre o título e os campos */

    margin-right: 10px;
    /* Espaçamento entre o título e os campos */
}

.popup-content label {
    white-space: nowrap;
}

.popup-content {
    width: 100%;
}

/*Configurando botões do pop-up*/
.button-popup {
    grid-column: 1 / -1;
    text-align: center;
}

.button-popup button {
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    background-color: #ccc;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

.button-popup button:hover {
    color: #17842a;

}


/*Classes criadas em js para estruturar o popup*/
.form-group {
    margin-bottom: 10px;
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
}