@import url("/src/geral.css");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17842a;
    border-bottom: 3px solid white;
    padding: 20px;
}

.header-title {
    color: #fff;
    margin: 0;
}

#mobile-sidebar-button,
#mobile-sidebar {
    display: none;
}

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;

}

.filter-options label {
    display: block;
    margin-bottom: 5px;
}



.title {
    font-size: 24px;
    color: #17842a;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #17842a;
}

.buttons {
    display: flex;
    justify-content: center;

}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.buttons button:hover {
    background-color: #1b958e;
}

.dose-inputs {
    margin-bottom: 5px;
    /* Adiciona espaço entre os inputs */
}

.dose-inputs label {
    display: block;
    /* Faz o título ocupar toda a largura disponível */
    font-size: 12px;
    /* Ajusta o tamanho da fonte */
    margin-bottom: 3px;
    /* Adiciona um pequeno espaço entre o título e a barra de input */
}

.dose-inputs input {
    width: 100%;
    /* Faz a barra de input ocupar toda a largura disponível */
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.dose-inputs input:focus {
    outline: none;
    border-color: #00716b;
    /* Cor do foco ao selecionar */
}

/*Efeito da filtragem dropdown */
.filter-toggle {
    display: none;
    /* Esconde o checkbox */
}

.filter-title {
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    font-weight: bold;
    /* Adiciona negrito */
    margin-top: 10px;
}

.arrow {
    float: right;
    /* Alinha a seta à direita */
    transition: transform 0.3s;
    /* Adiciona transição para suavizar a animação */
}


.filter-options2 {
    display: none;
    /* Inicia oculto */
}

.filter-options2 label {
    display: block;
    /* Uma opção por linha */
    margin-bottom: 3px;
    /* Adiciona um pequeno espaço entre as opções */
    font-size: 12px;
    /* Ajusta o tamanho da fonte */
}

.filter-options2 input[type="checkbox,radio"] {
    margin-right: 5px;
    /* Adiciona um pequeno espaço entre o checkbox e o texto */
}

#category-toggle:checked~.category-title .arrow {
    transform: rotate(180deg);
    /* Rotaciona a seta quando o checkbox está marcado */
}

#category-toggle:checked+.filter-options2 {
    display: block;
    /* Mostra quando o checkbox está marcado */
    font-weight: normal;
}

#uso-toggle:checked+.filter-options2 {
    display: block;
    /* Mostra quando o checkbox está marcado */
    font-weight: normal;
}

#generico-toggle:checked+.filter-options2 {
    display: flex;
    /* Mostra quando o checkbox está marcado */
    align-items: start;
    flex-direction: row;
    font-weight: normal;
}

#lab-toggle:checked+.filter-options2 {
    display: block;
    font-weight: normal;
}


@media (max-width: 768px) {

    #mobile-sidebar-button {
        display: block;
        position: fixed;
        left: 0;
        align-self: flex-start;
        font-size: 50px;
        color: #ccc;
    }

    .content {
        max-width: 100%;
    }

    .sidebar {
        display: none;
    }

    #mobile-sidebar:checked ~ .sidebar {

        display: block;
        position: absolute;
    }





}