@import url("/src/geral.css");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17842a;
    border-bottom: 3px solid white;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}
nav ul li {
    margin-right: 5px;
}

nav ul li a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    width: 100%;
    margin-bottom: 8px;

}


.title {
    font-size: 24px;
    color: #17842a;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.button-style {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #17842a;
}


.data-table tr:hover {
    background-color: #ccc;
    cursor: pointer;
}


.menu {
    display: flex;
    position: relative;
    align-items: row;
}

.menu button {
    margin: 0px 1px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #17842a;
}





/*Classes criadas em js para estruturar o popup*/
.form-group {
    margin-bottom: 10px;
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
}

@media (max-width: 768px) {
    .content {
        max-width: 100%;
    }
    .popup-content{
        
         grid-template-columns: repeat(3, 1fr); /*Diminui para 3 colunas*/
    }


}