@import url("/farmacia/src/geral.css");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    position: relative;
}
.header {
    display: flex;
    background-color: #17842a; /* Cor de fundo verde (#17842a) */
    width: 100%;
    text-align: center; /* Centraliza o texto */
    padding: 20px 250px; /* Espaçamento interno */
    /* Adiciona margem inferior para separar o header do card */
}

.header-title {
    color: #fff; /* Cor do texto branco */
    margin: 0; /* Remove a margem padrão do título */
}


.filter-options label {
    display: block;
    margin-bottom: 5px;
}
.filter-options  {
    margin-top: 20px;
    padding-left: 5px;
}


.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Adiciona um espaço igual à largura da barra lateral para garantir que o conteúdo não seja ocultado */
    padding-left: 20px; /* Adiciona um espaço à esquerda para separar o conteúdo da barra lateral */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total do elemento */

   
}

.title {
    font-size: 24px;
    color: #17842a;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #17842a;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #096318;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.buttons button:hover {
    background-color: #1b958e;
}

.price-inputs {
    margin-bottom: 5px; /* Adiciona espaço entre os inputs */
}

.price-inputs label {
    display: block; /* Faz o título ocupar toda a largura disponível */
    font-size: 12px; /* Ajusta o tamanho da fonte */
    margin-bottom: 3px; /* Adiciona um pequeno espaço entre o título e a barra de input */
}

.price-inputs input {
    width: 100%; /* Faz a barra de input ocupar toda a largura disponível */
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.price-inputs input:focus {
    outline: none;
    border-color: #00716b; /* Cor do foco ao selecionar */
}

/*Efeito da filtragem dropdown */
.filter-toggle {
    display: none; /* Esconde o checkbox */
}

.filter-title {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-weight: bold; /* Adiciona negrito */
    margin-top: 10px;
}

.arrow {
    float: right; /* Alinha a seta à direita */
    transition: transform 0.3s; /* Adiciona transição para suavizar a animação */
}


.filter-options2 {
    display: none; /* Inicia oculto */
}

.filter-options2 label {
    display: block; /* Uma opção por linha */
    margin-bottom: 3px; /* Adiciona um pequeno espaço entre as opções */
    font-size: 12px; /* Ajusta o tamanho da fonte */
}

.filter-options2 input[type="checkbox,radio"] {
    margin-right: 5px; /* Adiciona um pequeno espaço entre o checkbox e o texto */
}

#category-toggle:checked ~ .category-title .arrow {
    transform: rotate(180deg);
    /* Rotaciona a seta quando o checkbox está marcado */
}

#category-toggle:checked + .filter-options2 {
    display: block; /* Mostra quando o checkbox está marcado */
    font-weight: normal;
}
#uso-toggle:checked + .filter-options2 {
    display: block; /* Mostra quando o checkbox está marcado */
    font-weight: normal;
}
#generico-toggle:checked + .filter-options2 {
    display: flex; /* Mostra quando o checkbox está marcado */
    align-items:start;
    flex-direction: row;
    font-weight: normal;
}

#lab-toggle:checked + .filter-options2 {
    display: block;
    font-weight: normal;
}


